
<div class=" content">

  <h1>Bitcoin Block
    <small>information</small>
  </h1>
  <div class="blockdiv">
    <table class="table table-striped hash-table" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <th colspan="3" align="left"><a class="hash-link" [routerLink]="['/btcblock', blockId]" routerLinkActive="active">{{block.hash}}</a> <span class="pull-right"></span></th>
        <th>Height : {{block.height}}</th>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped">
      <tbody>
      <tr>
        <th colspan="2" style="text-align:left">Summary</th>
      </tr>
      <tr>
        <td>CoinBase Address</td>
        <td><a>{{block.coinbase_addr}}</a></td>
      </tr>
      <tr>
        <td>Depth</td>
        <td>
          {{block.depth}}
        </td>
      </tr>
      <tr>
        <td>Fees</td>
        <td>
          {{block.fees}}
        </td>
      </tr>
      <tr>
        <td>Mrkl Root</td>
        <td>{{block.mrkl_root}}</td>
      </tr>
      <tr>
        <td>Nombre des transactions</td>
        <td>{{block.n_tx}}</td>
      </tr>
      <tr>
        <td>Nonce</td>
        <td>{{block.nonce}}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td>{{block.size}}</td>
      </tr>
      <tr>
        <td>Received Timer</td>
        <td><a>{{block.received_time}}</a></td>
      </tr>
      <tr>
        <td>Relayed by</td>
        <td>{{block.relayed_by}}</td>
      </tr>
      <tr>
        <td>Timestamp</td>
        <td>{{block.time}}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{block.total}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Transactions:</h4>
          <p class=" category">Latest Transactions for this block</p>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <div *ngFor="let tx of block | slice:0:20; let i=index">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <th colspan="2" style="text-align:left">Transaction #{{i+1}}</th>
                </tr>
                <tr>
                  <td>Hash #</td>
                  <td><a [routerLink]="['/transaction', tx.hash]" routerLinkActive="active">{{tx.hash}}</a></td>
                </tr>
                <tr>
                  <td>From</td>
                  <td><a [routerLink]="['/address', tx.from]" routerLinkActive="active">{{tx.from}}</a></td>
                </tr>
                <tr>
                  <td>To</td>
                  <td><a [routerLink]="['/address', tx.to]" routerLinkActive="active">{{tx.to}}</a></td>
                </tr>
                <tr>
                  <td>Gas</td>
                  <td>{{tx.gas}}</td>
                </tr>
                <tr>
                  <td>Input</td>
                  <td>{{tx.input}}</td>
                </tr>
                <tr>
                  <td>Value</td>
                  <td>{{tx.value}}</td>
                </tr>
                </tbody>
              </table>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
